<footer class="chirpy-footer">
  <div class="footer-content">
    <p>© <%= new Date().getFullYear() %> <strong><%= config.author %></strong>. Powered by <a href="https://hexo.io" target="_blank">Hexo</a> & <a href="https://github.com/base404/hexo-cms" target="_blank">Hexo CMS</a>.</p>
    <p class="theme-info">Theme Chirpy Classic with <span class="preset-name">Preset</span></p>
  </div>
</footer>

<%- theme.footer_code || '' %>
